.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
  
    .page-number {
      margin: 0 10px;
    }
  
    .btn {
      display: flex;
      align-items: center;
    }
}