/*
 * File: _dashboard.scss
 * Author: Perera M.S.D/IT20020262
 */

.data-block-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.data-block {
  position: relative;
  width: 500px;
  height: 250px;
  // border: 2px solid #000;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

.data-title {
  font-size: 14px;
  font-weight: bold;
}

.data-count {
  font-size: 50px;
  margin: 0; 
  font-weight: 900;
  color: #fff;
}

.data-label {
  background-color: #ffffff47;
  color: #fff;
  padding: 20px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
