/*
 * File: _user.scss
 * Author: Dunusinghe A.V./IT20025526
 */

.users-container {
    .user-head-btn-group {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    @media only screen and (max-width: 768px) {
        .user-head-btn-group {
            flex-direction: column !important;
            gap: 10px;
        }
    }
}